/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

* {
    box-sizing: border-box;
}

.maincontent {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #7EC855;
}

.itemsList {
    float: left;
    width: 300px;
    height: 100%;
    background-color: #339967;
margin: 20px;
display: flex;
flex-direction: column;


}
.shoppingCart {
    width: 750px;
  height: 700px;
  margin-top: 40px;
  margin-bottom: 200px;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
button {
    background-color: gold;
}

h1 {
    font-size: xx-large;
}
/* open and close collapsible content */
.collapsibleList {
    background-color: #365430;
    color: #038471;
    cursor: pointer;
    padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
/* hide colapsible content */
ul {
    /* padding: 40px 40px 40px 18px;
    font-weight: bolder; */
    display: none;
    overflow: hidden;
    /* background-color: #f1f1f1;
    cursor: pointer; */
  }
.details {
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
    /* display: none; */
    /* overflow: hidden; */
    background-color: #f1f1f1;
    cursor: pointer;
}

.collapsibleList:hover {
    
    color: #999999;
    text-decoration: none;
}

.dropdown {
    font-size: x-large;
    
}